@use "../../styles/colors" as *;

img.handle-profile {
  height: 75px;
  width: 75px;
  border-radius: 50px;
}

.handles-gallery {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.handle-box {
  width: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.handle-name {
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}

.handle-nav {
  margin: 2px;
  background-color: $secondary-color;;
  padding: 8px;
}