<!DOCTYPE html>
<html>
<head>
    <title>AresCentral - AresMUSH</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


   <!-- 
    <link rel="stylesheet" href="/javascripts/jquery-ui-1.11.4/jquery-ui.min.css">
    <script src="/javascripts/jquery-ui-1.11.4/external/jquery/jquery.js"></script>
    <script src="/javascripts/jquery-ui-1.11.4/jquery-ui.min.js"></script>
    <script src="/javascripts/jquery.bootstrap-growl.min.js"></script>
    -->
       
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" integrity="sha384-rtJEYb85SiYWgfpCr0jn174XgJTn4rptSOQsMroFBPQSGLdOC5IbubP6lJ35qoM9" crossorigin="anonymous">
 
     <link rel="shortcut icon" href="/images/favicon.ico">
     
  <script src='https://www.google.com/recaptcha/api.js'></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/styles/ares.css">

    <script type="text/javascript">
    $(document).ready(function() {
       
    });
    </script>
</head>

<body>
    <div class="container">

        <div class="row">
          <div class="titlebox">
            <div class="logo-container">
              <img src="/images/logo.png" />
              <h1 class="site-title">Ares Central</h1>
            </div>
            
            <div class="user-bar">
              <% if @user %>
              <div>Welcome, <%= @user.name %>.</div>
              <div><a href="/logout">Logout</a> | <a href="/handle/<%= @user.id %>/edit">My Account</a> </div>
              <% else %>
              <div><a href="/login">Login</a></div>
              <% end %>
            </div>
          </div>
        </div>
        
        <nav class="navbar navbar-inverse">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/handles">Players</a></li>
              <li><a href="/games">Games</a></li> 
              <li><a href="/plugins">Plugins</a></li> 
              <li><a href="/themes">Themes</a></li> 
              <li><a href="/games/archive">Archive</a></li> 
              <li><a href="http://forum.aresmush.com">Forum</a></li> 
              <li><a href="http://www.aresmush.com">AresMUSH.com</a></li> 
            </ul>
        </nav>
                

        <div class="row">
          
          <div class="col">

            <div class="main-content">
              <% if !styled_flash.empty? %>             
                  <div class="alert alert-info">
                      <%= styled_flash %>
                    </div>
                <% end %>

                <%= yield %>

              </div>
              
            </div>
                                      
        </div>
        
    
      <div class="row">
          <div class="col-md-12 footer">

<p><a href="http://www.aresmush.com/privacy">Privacy Policy</a></p>

<p>          Report bugs or offensive content to faraday@aresmush.com. </p>
  
          </div>
      </div>
              
    </div>
    
</body>
</html>