.archive-warning h2 {
  font-size: 1.25em;
}

.activity-table {
  width: 100%;
  
  td {
    border: 1px solid #eee;
  }
}


.admin-area {
  margin-top: 70px;  
}

.admin-note {
    background-color: white;
    padding: 15px;
}
