<p>Please enter a new password.</p>

<div class="panel panel-default">
    <div class="panel-body">

    <form method="POST" action="/change-password">
       <p><b class="col-sm-2">Password:</b> <input type="password" name="password"></p>

       <p><b class="col-sm-2">Confirm Password:</b> <input type="password" name="confirm_password"></p>       
        <input type="submit">
    </form>
    </div>
</div>
