<p>Please enter the email you associated with your handle.  If you didn't set an email or don't remember it, contact faraday@aresmush.com for help.</p>

<div class="panel panel-default">
    <div class="panel-body">

    <form method="POST" action="/forgot-password">
       <p><b>Email:</b> <input type="text" name="email"></p>
        <input type="submit">
    </form>
    </div>
</div>
