<p>Log in using your AresMUSH Player Handle.</p>

<div class="panel panel-default">
    <div class="panel-body">

    <form method="POST" action="/sso/login">
        <p>Handle: <input type="text" name="handle"></p>
        <p>Password: <input type="password" name="password"></p>
        <input type="submit">
    </form>
    </div>
</div>
        
<p>Don't have a handle?  <a href="/handle/create">Create one</a>.</p>

<p>Forgot your password?  <a href="/forgot-password">Reset it</a></p>
