<h2>Create a Handle</h2>

<form method="POST" action="/handle/create">

<div class="panel panel-default">
    <div class="panel-body">

        <div class="panel panel-info">
            <div class="panel-heading">Login Information</div>
    
            <div class="panel-body">
                
                <p><b class="col-sm-3" >Handle Name:</b> <input type="text" name="name"></p>

                <p><b class="col-sm-3">Password:</b> <input type="password" name="password"></p>

                <p><b class="col-sm-3">Confirm Password:</b> <input type="password" name="confirm_password"></p>
                
                <p><b class="col-sm-3">Email (see note below):</b> <input type="text" name="email"></p>
                                
                <p><b class="col-sm-3">What was your most memorable MU*?:</b> <input type="text" name="security_question"></p>
                <br/>
                <p>Email is optional for creating a player handle, but required for participating in the Discussion Forums. It also allows you to easily recover your account if you forget your password. Your privacy is extremely important to us, and we will not misuse your information.  See our <a href="http://www.aresmush.com/privacy">Privacy Policy</a> for details.</p>
                
                <p>Don't want to give out your real email?  That's no problem.  You can create a free, game-only email account through <a href="http://gmail.com">Gmail</a>, <a href="https://outlook.live.com/">Outlook</a>, or any number of other free services.</p>
                </p>
                
                
            </div>
        </div>

       <div class="g-recaptcha" data-sitekey="<%= Config.recaptcha_site_key %>"></div>
<br/>
        <input type="submit" value="Create Handle">   
    </div>
</div>



</form>
