<h2>Community Themes</h2>

<p>These are community-contributed themes you can install in your web portal. Themes will include colors, custom styles and/or images. Click on the theme name to view the files on GitHub, including previews.</p>

<p>To install a theme, use <code>theme/install &lt;github url&gt;</code> with an admin character in-game. For example: <code>theme/install https://github.com/AresMUSH/ares-dark-theme</code>.</p>


<div class="alert alert-info">
<b>Note!</b>  Installing a theme will overwrite your current web portal theme. The files will be backed up to the aresmush/theme_archive folder if you need to get them back. Community themes are not officially supported (unless otherwise specified).
</div>

<p>See the <a href="https://aresmush.com/tutorials/code/contribs/" target="_blank" rel="noopener">AresMUSH submission guidelines</a> if you want to contribute your own themes.</p>


<table  class="table table-striped">
  <tr>
      <th>Theme</th>
      <th>Author</th>
  </tr>
  <tr>
      <td><a href="https://github.com/AresMUSH/ares-dark-theme" target="_blank" rel="noopener">Ares Dark</a></td>
      <td>Faraday</td>
  </tr>
</table>


