<h1>Roleplay Log Cleaner</h1>

<p>The log cleaner takes raw log files (presumably captured by your favorite MU* client) and strips out junk such as pages, channels, OOC chatter, coming/going messages, and various other soft- and hard-coded command spam.  It also adds blank lines as necessary so everything is spaced out nicely.</p>

<div class="alert alert-warning"><b>Note!</b> Keep copies of your original/raw log files until you have verified that the log has been formatted correctly and no data was lost.</div>


                
<h3>Clean a Log</h3>
    
<form method="POST" action="/log/format" enctype="multipart/form-data">            
  <p><b class="col-sm-3" >Select a Log Format:</b> 
  
  <select name="format">
                      
    <option value="mush"> <strong>MUSH</strong> - Excludes MUSH-style channels. &lt;Public&gt; Faraday says, "Hello."  Covers PennMUSH and AresMUSH.</option>
    <option value="mux"><strong>MUX</strong> - Excludes MUX-style channels. [Public] Faraday says, "Hello."</option>
    <option value="ares_fs3_combat_wiki"><strong>Ares FS3 Combat Wiki</strong> - FS3 combat logs for AresMUSH with pretty wikidot formatting.</option>
    <option value="fs3_combat"><strong>FS3 Combat</strong> - Handles logs with FS3 skill or combat messages, omitting spam while keeping important combat messages.</option>
    <option value="fs3_combat_wiki"><strong>FS3 Combat Wiki</strong> - Same as <i>FS3 Combat</i>, but also adds pretty wikidot formatting.</option>
    <option value="tgg_battle"><strong>TGG Battle </strong>- Handles battle logs from The Greatest Generation MUX, omitting spam while keeping important combat messages.</option>
    <option value="tgg_battle_wiki"><strong>TGG Battle Wiki</strong> - Same as <i>TG Battle</i>, but also adds pretty wikidot formatting.</option>

  </select>
  
  </p>

  <p><b class="col-sm-3" >Select a Log File:</b> 

    <input type="file" name="file">
  </p>

<!--
  <p><b class="col-sm-3">Paste Original Log:</b> </p>
  <p><textarea rows="50" cols="100" name="log"></textarea></p>
-->
            
  <div class="text-center">
    <input type="submit" value="Clean Log">   
  </div>

</form>


<h3>Wikidot Combat Formatting</h3>

<p>If you're using the FS3 Combat Wiki format for Wikidot, you can either add a ".fs3combat" class to your wiki CSS, or add the following code at the beginning of the log:</p>
    
<pre>
[[module CSS]]
.fs3combat {
margin: 5%;
color: gray;
font-style: italic;
}
[[/module]]
</pre>

<p>Tweak the CSS to format combat messages as you like them.</p>
