$text-color: #000000; /* black */
$primary-color:#F2622E; /* orange */  
$secondary-color:#256a9B; /* blue */
$secondary-highlight:#0B5141; /* darker blue */
$secondary-pale:#bdd2e1; /* pale bluegray */
$light-background:#f6f6f6; /* super light gray */ 
$dark-background:#3D3D3D; /* almost black */
$faded-text:#999;
$border-color: #ddd;
$warning: #F99571;
$note: #ECF3F8;
